# Project: Restaurant Revenue Dataset
## Importing Necessary Libraries
- **Purpose:** To load essential Python libraries for data handling, preprocessing, and statistical analysis.

In [1]:
import pandas as pd
import numpy as np

## Loading the Dataset
- **Purpose:** To read the Revenue dataset into a pandas DataFrame for analysis

In [2]:
dataset=pd.read_csv('restaurant_data.csv')

In [3]:
dataset

,Name,Location,Cuisine,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,Parking Availability,Weekend Reservations,Weekday Reservations,Revenue
0,Restaurant 0,Rural,Japanese,4.0,38,73.98,2224,23406,13,185,161.924906,1.3,7.0,Yes,13,4,638945.52
1,Restaurant 1,Downtown,Mexican,3.2,76,28.11,4416,42741,8,533,148.759717,2.6,3.4,Yes,48,6,490207.83
2,Restaurant 2,Rural,Italian,4.7,48,48.29,2796,37285,18,853,56.849189,5.3,6.7,No,27,14,541368.62
3,Restaurant 3,Rural,Italian,4.4,34,51.55,1167,15214,13,82,205.433265,4.6,2.8,Yes,9,17,404556.80
4,Restaurant 4,Downtown,Japanese,4.9,88,75.98,3639,40171,9,78,241.681584,8.6,2.1,No,37,26,1491046.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,Restaurant 8363,Suburban,Indian,3.4,54,34.85,1102,11298,11,380,253.919515,9.5,5.0,Yes,37,0,434653.45
8364,Restaurant 8364,Rural,Indian,3.7,49,36.88,1988,20432,9,713,175.590195,2.7,2.6,No,37,21,414977.92
8365,Restaurant 8365,Downtown,Italian,4.7,88,46.87,5949,63945,6,436,222.953647,4.8,1.7,Yes,83,21,930395.87
8366,Restaurant 8366,Rural,American,3.1,31,44.53,707,7170,1,729,178.482851,6.1,2.1,No,6,21,311493.48
8367,Restaurant 8367,Rural,Japanese,4.0,33,71.07,2003,24268,8,197,151.838065,5.9,7.5,Yes,5,12,534142.98

## Exploratory Data Analysis (EDA)
## Checking Missing Values
- **Purpose:** Identify the columns with missing values for imputation

In [22]:
dataset.shape

(8368, 17)

In [4]:
dataset.isna().sum()

Name                      0
Location                  0
Cuisine                   0
Rating                    0
Seating Capacity          0
Average Meal Price        0
Marketing Budget          0
Social Media Followers    0
Chef Experience Years     0
Number of Reviews         0
Avg Review Length         0
Ambience Score            0
Service Quality Score     0
Parking Availability      0
Weekend Reservations      0
Weekday Reservations      0
Revenue                   0
dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8368 entries, 0 to 8367
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    8368 non-null   object
 1   Location                8368 non-null   object
 2   Cuisine                 8368 non-null   object
 3   Rating                  8368 non-null   float64
 4   Seating Capacity        8368 non-null   int64
 5   Average Meal Price      8368 non-null   float64
 6   Marketing Budget        8368 non-null   int64
 7   Social Media Followers  8368 non-null   int64
 8   Chef Experience Years   8368 non-null   int64
 9   Number of Reviews       8368 non-null   int64
 10  Avg Review Length       8368 non-null   float64
 11  Ambience Score          8368 non-null   float64
 12  Service Quality Score   8368 non-null   float64
 13  Parking Availability    8368 non-null   object
 14  Weekend Reservations    8368 non-null   int64
 15  Weekday Reservations    8368 non-null   int64
 16  Revenue                 8368 non-null   float64
dtypes: float64(6), int64(7), object(4)
memory usage: 1.1+ MB

In [6]:
dataset.columns

Index(['Name', 'Location', 'Cuisine', 'Rating', 'Seating Capacity',
       'Average Meal Price', 'Marketing Budget', 'Social Media Followers',
       'Chef Experience Years', 'Number of Reviews', 'Avg Review Length',
       'Ambience Score', 'Service Quality Score', 'Parking Availability',
       'Weekend Reservations', 'Weekday Reservations', 'Revenue'],
      dtype='object')

## Categorizing Numerical and Categorical Columns
- **Purpose:** Separate numerical and categorical columns for targeted preprocessing.

In [7]:
def quanqual(dataset):
    quan = []
    qual = []
    for ColumnName in dataset.columns:
        if dataset[ColumnName].dtype == 'O':  
            qual.append(ColumnName)
        else:
            quan.append(ColumnName) 
    return quan,qual

In [8]:
quan, qual=quanqual(dataset)

In [9]:
quan

['Rating',
 'Seating Capacity',
 'Average Meal Price',
 'Marketing Budget',
 'Social Media Followers',
 'Chef Experience Years',
 'Number of Reviews',
 'Avg Review Length',
 'Ambience Score',
 'Service Quality Score',
 'Weekend Reservations',
 'Weekday Reservations',
 'Revenue']

In [10]:
qual

['Name', 'Location', 'Cuisine', 'Parking Availability']

## Descriptive Statistics
## Statistical Summary
- **Purpose:** Generate descriptive statistics for numerical columns

In [11]:
# Assuming 'quan' is defined somewhere in your code
descriptive = pd.DataFrame(index=['mean','median','mode','Q1:25%','Q2:50%','Q3:75%','Q4:100%','IQR','1.5rule','lesser','greater','min','max'], columns=quan)

# Assuming 'dataset' is your DataFrame
for ColumnName in quan:
    descriptive.loc['mean', ColumnName] = dataset[ColumnName].mean()
    descriptive.loc['median', ColumnName] = dataset[ColumnName].median()
    descriptive.loc['mode', ColumnName] = dataset[ColumnName].mode()[0]
    descriptive.loc['Q1:25%', ColumnName] = dataset[ColumnName].quantile(0.25)
    descriptive.loc['Q2:50%', ColumnName] = dataset[ColumnName].quantile(0.50)
    descriptive.loc['Q3:75%', ColumnName] = dataset[ColumnName].quantile(0.75)
    descriptive.loc['99%', ColumnName] = np.percentile(dataset[ColumnName], 99)
    descriptive.loc['Q4:100%', ColumnName] = dataset[ColumnName].max()
    descriptive.loc['IQR', ColumnName] = descriptive.loc['Q3:75%', ColumnName] - descriptive.loc['Q1:25%', ColumnName]
    descriptive.loc['1.5rule', ColumnName] = 1.5 * descriptive.loc['IQR', ColumnName]
    descriptive.loc['lesser', ColumnName] = descriptive.loc['Q1:25%', ColumnName] - descriptive.loc['1.5rule', ColumnName]
    descriptive.loc['greater', ColumnName] = descriptive.loc['Q3:75%', ColumnName] + descriptive.loc['1.5rule', ColumnName]
    descriptive.loc['min', ColumnName] = dataset[ColumnName].min()
    descriptive.loc['max', ColumnName] = dataset[ColumnName].max()

descriptive

,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,Weekend Reservations,Weekday Reservations,Revenue
mean,4.008258,60.212835,47.896659,3218.2549,36190.621773,10.051984,523.010397,174.769974,5.521283,5.508772,29.491754,29.235301,656070.563351
median,4.0,60.0,45.535,2846.5,32518.5,10.0,528.0,173.910079,5.5,5.6,27.0,26.0,604242.085
mode,3.9,50,31.11,3388,20586,18,981,50.011717,5.9,1.6,10,16,184708.52
Q1:25%,3.5,45.0,35.49,1889.0,22592.5,5.0,277.0,113.311102,3.3,3.2,13.0,13.0,454651.3975
Q2:50%,4.0,60.0,45.535,2846.5,32518.5,10.0,528.0,173.910079,5.5,5.6,27.0,26.0,604242.085
Q3:75%,4.5,75.0,60.3,4008.5,44566.25,15.0,764.25,237.406885,7.8,7.8,43.0,43.0,813094.23
Q4:100%,5.0,90,76.0,9978,103777,19,999,299.984924,10.0,10.0,88,88,1531867.55
IQR,1.0,30.0,24.81,2119.5,21973.75,10.0,487.25,124.095783,4.5,4.6,30.0,30.0,358442.8325
1.5rule,1.5,45.0,37.215,3179.25,32960.625,15.0,730.875,186.143674,6.75,6.9,45.0,45.0,537664.24875
lesser,2.0,0.0,-1.725,-1290.25,-10368.125,-10.0,-453.875,-72.832572,-3.45,-3.7,-32.0,-32.0,-83012.85125
greater,6.0,120.0,97.515,7187.75,77526.875,30.0,1495.125,423.550559,14.55,14.7,88.0,88.0,1350758.47875
min,3.0,30,25.0,604,5277,1,50,50.011717,1.0,1.0,0,0,184708.52
max,5.0,90,76.0,9978,103777,19,999,299.984924,10.0,10.0,88,88,1531867.55
99%,5.0,90.0,75.3499,8698.99,92039.78,19.0,990.0,297.56483,9.9,9.9,80.0,79.0,1365233.0231

## Outlier Handling
## Identifying Outliers
- **Purpose:** Detect columns with outliers based on IQR rules.

In [12]:
lesser=[]
greater=[]

for columnName in quan:
    if(descriptive[columnName]["min"]<descriptive[columnName]["lesser"]):
        lesser.append(columnName)
    if(descriptive[columnName] ["max"]>descriptive[columnName]["greater"]):
        greater.append(columnName)

In [13]:
lesser

[]

In [14]:
greater

['Marketing Budget', 'Social Media Followers', 'Revenue']

In [15]:
# Applying the 'lesser' condition with .loc[]
for columnName in lesser:
    dataset.loc[dataset[columnName] < descriptive.loc['lesser', columnName], columnName] = descriptive.loc['lesser', columnName]

# Applying the 'greater' condition with .loc[]
for columnName in greater:
    dataset.loc[dataset[columnName] > descriptive.loc['greater', columnName], columnName] = descriptive.loc['greater', columnName]

C:\Users\saran\AppData\Local\Temp\ipykernel_492\4119003026.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '7187.75' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataset.loc[dataset[columnName] > descriptive.loc['greater', columnName], columnName] = descriptive.loc['greater', columnName]
C:\Users\saran\AppData\Local\Temp\ipykernel_492\4119003026.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '77526.875' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataset.loc[dataset[columnName] > descriptive.loc['greater', columnName], columnName] = descriptive.loc['greater', columnName]

In [16]:
# Assuming 'quan' is defined somewhere in your code
descriptive = pd.DataFrame(index=['mean','median','mode','Q1:25%','Q2:50%','Q3:75%','Q4:100%','IQR','1.5rule','lesser','greater','min','max'], columns=quan)

# Assuming 'dataset' is your DataFrame
for ColumnName in quan:
    descriptive.loc['mean', ColumnName] = dataset[ColumnName].mean()
    descriptive.loc['median', ColumnName] = dataset[ColumnName].median()
    descriptive.loc['mode', ColumnName] = dataset[ColumnName].mode()[0]
    descriptive.loc['Q1:25%', ColumnName] = dataset[ColumnName].quantile(0.25)
    descriptive.loc['Q2:50%', ColumnName] = dataset[ColumnName].quantile(0.50)
    descriptive.loc['Q3:75%', ColumnName] = dataset[ColumnName].quantile(0.75)
    descriptive.loc['99%', ColumnName] = np.percentile(dataset[ColumnName], 99)
    descriptive.loc['Q4:100%', ColumnName] = dataset[ColumnName].max()
    descriptive.loc['IQR', ColumnName] = descriptive.loc['Q3:75%', ColumnName] - descriptive.loc['Q1:25%', ColumnName]
    descriptive.loc['1.5rule', ColumnName] = 1.5 * descriptive.loc['IQR', ColumnName]
    descriptive.loc['lesser', ColumnName] = descriptive.loc['Q1:25%', ColumnName] - descriptive.loc['1.5rule', ColumnName]
    descriptive.loc['greater', ColumnName] = descriptive.loc['Q3:75%', ColumnName] + descriptive.loc['1.5rule', ColumnName]
    descriptive.loc['min', ColumnName] = dataset[ColumnName].min()
    descriptive.loc['max', ColumnName] = dataset[ColumnName].max()

In [17]:
def find_outliers(quan):
    lesser = []
    greater = []
    
    for columnName in quan:
        if descriptive[columnName]["min"] < descriptive[columnName]["lesser"]:
            lesser.append(columnName)
        if descriptive[columnName]["max"] > descriptive[columnName]["greater"]:
            greater.append(columnName)
    
    return lesser, greater

In [18]:
find_outliers(quan)

([], [])

In [19]:
lesser, greater=find_outliers(quan)

In [20]:
lesser

[]

In [21]:
greater

[]

In [23]:
dataset.to_csv('cleaned_restaurant_data.csv', index=False)
print("Cleaned data saved to 'cleaned_restaurant_data.csv'.")

Cleaned data saved to 'cleaned_restaurant_data.csv'.